{% for child in page.root %}
  {% if child.children %}
    <p class="category col two"><em>{{ child.title }}</em></p>
    <ul class="project-list col seven">
    {% for child in child.children %}
      <li>
        <div class="thumbnail col two">
          <a href="{{ child.thumb.url }}"><img src="{{ child.thumb.url }}" alt=""></a>
        </div>
        <div class="summary col two">
          <p>  <a href="{{ child.url }}">{{ child.title }}</a></p>
          <p><em>{{child.date}}</em></p>
          <p><em class="background">&ndash;{{child.keywords}}</em></p>
        </div>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}